@page "/cartdetail"
@page "/cartdetail/{productid:int}"

@inject IShopClient shopClient
@inject IStringLocalizer<Global> L

<TopSection>
    <Breadcrumbs>
        <Breadcrumb Title="Cart Detail" />
    </Breadcrumbs>
</TopSection>

@if (product is null)
{
    <LoadingBackground ShowLogoBox="true">
        <label>@L["Email confirmation in progress"]</label>
    </LoadingBackground>
}
else
{
    <MatPaper Outlined="true" Rounded="true">
        <div class="ViewCount">
            <i class="oi oi-eye"></i> @ViewCount
        </div>
        <div class="media">
            <div class="media-img-big-wrapper mr-2">
                <img class="media-img-big" src="@product.Image" alt="@product.Title" />
            </div>
            <div class="media-body">
                tüm değerler elde edilebilir mssi?
                <h2 class="mb-0">@product.Title</h2>
                <p>@product.Description</p>
                @* @if (product.Variants != null && product.Variants.Count > 1)
                    {
                    <div class="form-group">
                    <select class="form-control" @bind="currentEditionId">
                    @foreach (var variant in product.Variants)
                    {
                    <option value="@variant.EditionId">@variant.Edition.Name</option>
                    }
                    </select>
                    </div>
                    }
                    @if (GetSelectedVariant() != null)
                    {
                    @if (GetSelectedVariant().OriginalPrice > GetSelectedVariant().Price)
                    {
                    <h6 class="text-muted original-price">$@GetSelectedVariant().OriginalPrice</h6>
                    }
                    <h4 class="price">
                    $@GetSelectedVariant().Price
                    </h4>
                    }*@
                @*<EditForm Model="cartItem">
                    <div class="form-group">
                    <InputNumber id="quantity" @bind-Value="cartItem.Quantity" class="form-control" style="width: 70px;" />
                    </div>
                    </EditForm>*@
                @*<button class="btn btn-primary" @onclick="AddToCart"><i class="oi oi-cart"></i>&nbsp;&nbsp;&nbsp;Add to Cart</button>*@
            </div>

        </div>
    </MatPaper>


}



@code {
    string ViewCount;

    [Parameter]
    public int productid { get; set; }

    private Product product = null;

    protected override async Task OnInitializedAsync()
    {
        var param = new Dictionary<string, object>()
    {
        {"Id",  productid}
    };

        var productList = await shopClient.LoadProducts(param);
        product = new List<Product>(productList).First();


    }

    protected override async Task OnParametersSetAsync()
    {
        await ViewCountPlaceholder();
    }

    async Task ViewCountPlaceholder() => await Task.Run(() =>
    {
        if (product.ViewCount > 1000000)
            this.ViewCount = $"{((float)product.ViewCount / 1000000).ToString("#.##")}M";
        if (product.ViewCount > 100000)
            this.ViewCount = $"{((float)product.ViewCount / 1000).ToString("#")}K";
        if (product.ViewCount > 1000)
            this.ViewCount = $"{((float)product.ViewCount / 1000).ToString("#.##")}K";

        this.ViewCount = product.ViewCount.ToString("0##");

    });
}
